
        <h3>Contact me:</h3>
            <!--writing contact details-->
            <div class="personal_info" role="contactdetails">
                <h4> Andreea Grigorescu</h4>
                <p><em>Phone: 07475197110</em></p>
                <p><em>Email: <a href="mailto:deea26@gmail.com" id="email">deea26@gmail.com</a></em></p>
            </div>
