
    <footer class="card-panel">
        <ul>
            <a class="socialButton" href="https://medium.com/@deea26"><img src="images/medium.png" /></a>
            <a class="socialButton" href="https://www.linkedin.com/in/andreea-grigorescu-71a8b0114"><img src="images/linkedin.png" /></a>
            <a class="socialButton" href="https://github.com/agrigorescu"><img src="images/github.png" /></a>
            <a class="socialButton" href="https://twitter.com/Pink_PumPkin26"><img src="images/twitter.png" /></a>
        </ul>
        <p>Designed by Andreea Grigorescu</p>
    </footer>