<div>
    <section id="about" class="card-panel">
        <div role="introduction">
            <h2>About</h2>
            <div id="greeting" class="element center-align">Hello!</div>
            <div class="summary">
                <p><em>I am part of the up and coming wave of Web Devs from Sparta Global.</em></p>
                <p><em>My coleagues think I am a reliable, hardworking, and dedicated team player who works well under pressure and with minimum supervision. I have a passion for all things tech, especially Object Oriented Programming languages such as JavaScript and C++.</em></p>
                <p><em>I take pride in completing various assignments and projects, particularly projects focused on back-end development. Throughout my educational years, I have dedicated my time to learning about different  technologies and various legal aspects involved in the world of tech, mostly focusing on Intellectual Property Rights. I hope my technical skill set and my creativity will be a wonderful addition to any company. I consider myself an ambitious individual and who will not back down from a challenge.</em></p>
                <p><em>When I am not coding, I enjoy seeing the world through the lenses of my camera, having participated in a few photography competitions.</em></p>
            </div>
        </div>
    </section>
</div>
