<div class="container">
    <div class="nonTransparentDiv">
    <img id="profilePicture" src="images/DSC_0533.JPG" />
    <div id="intro">
        <h1>Andreea Grigorescu</h1>
        <h3>Web Developer</h3>
        <p>London, United Kingdom</p>
    </div>
    </div>
</div>