 <!--projects-->
<section id="projects" class="card-panel">
    <h2>Projects</h2>
    <!-- the carousel of projects -->
    <div class="carousel">
        <!-- project 1 - my website -->
        <div class="carousel-item projects">
            <div class="center-align">
                <img src="images/sparta-global-roundel.png" />
                <a id="trig1" class="btn-floating btn-large waves-effect waves-light red" data-target="theModal" href=""><i class="medium material-icons">reorder</i></a>
            </div>
        </div>
        <!-- project 2 - rock paper game -->
        <div class="carousel-item projects">
            <div class="center-align">
                <img src="images/rock-paper-game.jpg" />
                <a id="trig2" class="btn-floating btn-large waves-effect waves-light red" data-target="theModal" href=""><i class="medium material-icons">reorder</i></a>
            </div>
        </div>
        <!-- project 3 - encryption algorithm -->
        <div class="carousel-item projects">
            <div class="center-align">
                <img src="images/aes-logo.png" />
                <a id="trig3" class="btn-floating btn-large waves-effect waves-light red" data-target="theModal" href=""><i class="medium material-icons">reorder</i></a>
            </div>
        </div>
        <!-- project 4 - android app -->
        <div class="carousel-item projects">
            <div class="center-align">
                <img src="images/android-logo.jpg" />
                <a id="trig4" class="btn-floating btn-large waves-effect waves-light red" data-target="theModal" href=""><i class="medium material-icons">reorder</i></a>
            </div>
        </div>
        <!-- project 5 - artificial intelligence -->
        <div class="carousel-item projects">
            <div class="center-align">
                <img src="images/artificial-inteligence.jpg" />
                <a id="trig5" class="btn-floating btn-large waves-effect waves-light red" data-target="theModal" href=""><i class="medium material-icons">reorder</i></a>
            </div>
        </div>
    </section>
    <!--end of projects-->