<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="images/business.png" alt="work">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content experience" id="experience">
            <div class="timelineImage"><img src="images/sparta-global-roundel.png" /></div>
            <div class="center-align">
                <h5><strong>Sparta Global</strong></h5>
                <p><em>Web Developer</em></p>
                <a id="trig7" class="btn-floating btn-large waves-effect waves-light red" data-target="theModal" href=""><i class="medium material-icons">reorder</i></a>
            </div>
      		<span class="cd-date"><em>November 2016</em></span>
      	</div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="images/business.png" alt="work">
      	</div> <!-- cd-timeline-img -->

      	<div class="cd-timeline-content experience">
              <div class="timelineImage"><img src="images/pret.jpg" /></div>
              <div class="center-align">
                <h6><strong>Pret</strong></h5>
                <p><em>Team Leader</em></p>
                <a id="trig8" class="btn-floating btn-large waves-effect waves-light red" data-target="theModal" href=""><i class="medium material-icons">reorder</i></a>
              </div>
      		  <span class="cd-date">February 2011</span>
      	</div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="images/university.png" alt="university">
      	</div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content school" id="school">
            <div class="timelineImage"><img src="images/london-met-small-logo.png" /></div>
            <div class="center-align">
                <h5>London Metropoltan</h5>
                <p><strong>IT Security and Law</strong></p>
                <a id="trig9" class="btn-floating btn-large waves-effect waves-light red" data-target="theModal" href=""><i class="medium material-icons">reorder</i></a>
            </div>
            <span class="cd-date">September 2010</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="images/school.png" alt="college">
      	</div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content school">
            <div class="center-align">
                <h5>National College "Gh. M. Murgoci" Braila, Romania</h5>
                <p><strong>Pathway: Mathematics - Computer Science Intensive</strong></p>
                <a id="trig10" class="btn-floating btn-large waves-effect waves-light red" data-target="theModal" href=""><i class="medium material-icons">reorder</i></a>
            </div>
            <span class="cd-date">September 2006</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->